@use "../media-queries.scss" as *;
/* base classes */

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.lr__wrapper {
  @extend %flex-full;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  @include mq(medium) {
    flex-wrap: nowrap;
  }
}
.lr__wrapper :is(.left-wrapper, .right-wrapper) {
  @extend %flex-full;
  flex-wrap: wrap;
}

.hero__grid {
  display: grid;
  height: 100%;
  width: 100%;
  flex: 1 1 100%;
  gap: 1rem;
  // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-areas:
    "bottle bottle news"
    "bottle bottle offers"
    "hero hero contact";
  & > div {
    border: 1px red dashed;
  }
  & > div:nth-child(1) {
    grid-area: bottle;
  }
  & > div:nth-child(2) {
    grid-area: news;
  }
  & > div:nth-child(3) {
    grid-area: offers;
  }
  & > div:nth-child(4) {
    grid-area: hero;
  }
  & > div:nth-child(5) {
    grid-area: contact;
  }
}
