$colors: (
  primary: (
    100: hsl(218, 77%, 14%),
    200: hsl(218, 77%, 73%),
    main: hsl(218, 77%, 63%),
    300: hsl(218, 77%, 53%),
    400: hsl(218, 77%, 33%),
    500: hsl(218, 77%, 13%),
  ),
  secondary: (
    100: hsl(264, 96%, 92%),
    200: hsl(264, 96%, 82%),
    main: hsl(264, 96%, 72%),
    300: hsl(264, 96%, 52%),
    400: hsl(264, 96%, 22%),
  ),
  contrast: (
    100: hsl(0, 0%, 98%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 30%),
    700: hsl(0, 0%, 18%),
    750: hsl(0, 0%, 10%),
    800: hsl(0, 0%, 5%),
  ),
  signal-green: (
    100: hsl(90, 94%, 50%),
    200: hsl(90, 94%, 40%),
    300: hsl(90, 94%, 30%),
    400: hsl(90, 94%, 20%),
    500: hsl(90, 94%, 10%),
  ),
  signal-red: (
    100: hsl(0, 60%, 55%),
    200: hsl(0, 60%, 45%),
    300: hsl(0, 60%, 35%),
    400: hsl(0, 60%, 25%),
    500: hsl(0, 60%, 15%),
  ),
);
