/* vina-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Vina Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/vina-sans-v6-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("/fonts/vina-sans-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/vina-sans-v6-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/fonts/vina-sans-v6-latin-regular.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("/fonts/vina-sans-v6-latin-regular.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("/fonts/vina-sans-v6-latin-regular.svg#VinaSans") format("svg"); /* Legacy iOS */
}

/* catamaran-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/catamaran-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("/fonts/catamaran-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/catamaran-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/catamaran-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/catamaran-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/catamaran-v17-latin-regular.svg#Catamaran") format("svg"); /* Legacy iOS */
}

/* catamaran-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/catamaran-v19-latin-500.eot"); /* IE9 Compat Modes */
  src: url("/fonts/catamaran-v19-latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/catamaran-v19-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/fonts/catamaran-v19-latin-500.woff") format("woff"),
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
      url("/fonts/catamaran-v19-latin-500.ttf") format("truetype"),
    /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
      url("/fonts/catamaran-v19-latin-500.svg#Catamaran") format("svg"); /* Legacy iOS */
}

/* catamaran-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/catamaran-v17-latin-900.eot"); /* IE9 Compat Modes */
  src: url("/fonts/catamaran-v17-latin-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/catamaran-v17-latin-900.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/catamaran-v17-latin-900.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/catamaran-v17-latin-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/catamaran-v17-latin-900.svg#Catamaran") format("svg"); /* Legacy iOS */
}

/* courier-prime-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/courier-prime-v7-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("/fonts/courier-prime-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/courier-prime-v7-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/courier-prime-v7-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/courier-prime-v7-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/courier-prime-v7-latin-regular.svg#CourierPrime")
      format("svg"); /* Legacy iOS */
}

/* fira-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/fira-sans-v16-latin-800.eot"); /* IE9 Compat Modes */
  src: url("/fonts/fira-sans-v16-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/fira-sans-v16-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/fira-sans-v16-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/fira-sans-v16-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/fira-sans-v16-latin-800.svg#FiraSans") format("svg"); /* Legacy iOS */
}

$fonts: (
  header: Fira Sans,
  sub: Courier Prime,
  text: Catamaran,
);
